{% extends 'base.html' %}
{% load guild_filter %}
{% block content %}


<h1>{{character_name}}</h1>
<div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">field</th>
            <th scope="col">before_data</th>
            <th scope="col">after_data</th>
            <th scope="col">date</th>
        </tr>
        </thead>
        <tbody>
        {% if character_history %}
        {% for history in character_history %}
        <tr>
            <td>{{history.field}}</a></td>
            <td>{{history.before_data}}</td>
            <td>{{history.after_data}}</td>
            <td>{{history.date}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>no data</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
