{% extends 'base.html' %}
{% load guild_filter %}
{% block content %}


<h1>DAY CHART</h1>
<div class="table-responsive text-nowrap">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="th-name">닉네임</th>
            <th scope="col" class="th-class">클래스</th>
            <th scope="col" class="th-itemlv">아이템</th>
            <th scope="col" class="th-battlelv">전투</th>
            <th scope="col" class="th-expeditionlv">원정대</th>
            <th scope="col" class="th-engraving">각인</th>
            <th scope="col" class="th-stat">특성</th>
            <th scope="col" class="th-card">카드</th>
            <th scope="col" class="th-gem">보석</th>
            <th scope="col" class="th-equipment">무기</th>
            <th scope="col" class="th-power">공격력</th>
            <th scope="col" class="th-vitality">체력</th>
            <th scope="col" class="th-date">update</th>
        </tr>
        </thead>
        <tbody>
        {% if character_list %}
        {% for character in character_list %}
        <tr>
            <td><a href="{% url 'guild:history' character.character_name%}" target="_blank">{{character.character_name}}</a></td>
            <td><p>{{character.character_class}}</p></td>
            <td><p>{{character.character_item_level}}</p></td>
            <td><p>{{character.character_battle_level}}</p></td>
            <td><p>{{character.character_expedition_level}}</p></td>
            <td>
                <p>{{character.engraving_simple}}</p>
                <div class="detail">
                    {% for engraving in character.engraving_as_list %}
                    <p>{{engraving}}</p>
                    {% endfor %}
                </div>
            </td>
            <td>
                {% for stat in character.stat_as_list %}
                <p>{{stat}}</p>
                {% endfor %}
            </td>
            <td>
                {% for card in character.card_slice %}
                <p>{{card}}</p>
                {% endfor %}
            </td>
            <td>
                {% for gem in character.gem_simple %}
                <p>{{gem}}</p>
                {% endfor %}
            </td>
            <td>
                <p>{{character.equipment_weapon_lv}}</p>
                <div class="detail">
                    {% for equipment in character.equipment_as_list %}
                    <p>{{equipment}}</p>
                    {% endfor %}
                </div>
            </td>
            <td><p>{{character.character_power}}</p></td>
            <td><p>{{character.character_vitality}}</p></td>
            <td>
                <p>{{character.elapsed_time}}</p>
                <div class="detail">
                    {% for history in character_history|get_item:character.character_name %}
                    <p class="history_title">{{history.field_trans}}</p>
                    <p>{{history.before_data}}</p>
                    <p>{{history.after_data}}</p>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>no data</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
